name: Testing Pipeline

on:
  pull_request:
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      checks: write
      pull-requests: write
      contents: read
      actions: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '23'

      - name: Cache node modules
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        run: npm ci

      - name: Run Tests
        run: |
          npx vitest run --reporter=junit --outputFile=test-results.xml
        continue-on-error: true

      - name: Report Test Results
        if: always()
        uses: dorny/test-reporter@v2
        with:
          name: VitestTest Results
          path: test-results.xml
          reporter: java-junit
          fail-on-error: true
